@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html,body,#root,.app,.content{
  height: 100%;
  width: 100%;
  font-family: 'Source sans 3' ,sans-serif;
  overflow: hidden;
  background-color: rgb(20, 26, 40);
  margin: 0px;
}

.app{
  display: flex;
  position: relative;
  margin-top: 0;

}

/* ::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb{
  background: #888;
}

::-webkit-scrollbar-track:hover{
  background: #555;
} */